.directory
*/source.kdev4
*.kdev*
*.o*
*.zip
*.tar.gz
source/bayescenv
test/data_codominantSNP_AccRte.txt
test/data_codominantSNP_fst.txt
test/data_codominantSNP_Verif.txt
test/data_codominantSNP.sel
GUI/build*
GUI/BayeScEnv/BayeScEnv.pro.user*
